*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    display: grid;
    grid-template: repeat(5,20vh)/repeat(5,20%);
}
#sidebar{
    grid-row:1/span 5;
    grid-column:1/2;
    background-color: blue;
    padding-left: 5%;
    padding-top:5%;
}
#sidebar > div{
    margin-bottom: 15%;
}
.main-icon,.dashboard-buttons{
    display: flex;
    gap:10px;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}
.dashboard-buttons > img{
    width: 30px;
    height: 30px;
    color: white;
}
nav{
    grid-row:1/2;
    grid-column:2/span 4;
    background-color: aqua;
}
main{
    grid-row:2/span 4;
    grid-column:2/span 4;
    background-color: black;
}